.LeftSideBar__TopSection {
    width: 100%;
    height: 4em;
    background-image: linear-gradient(to bottom right, red, white);
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;  
  }
  .company{
    margin-left: 30px;
    
  }
  .company:hover{
    color : white;
  }