$left-sidebar-width: 15em;

.LeftSideBar__LeftSection {
  position: fixed;
  width: $left-sidebar-width;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  transition:all ease 0.5s;
  z-index: 3;

  .LeftSideBar__LeftSection__topWrapper {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;    
    border-bottom: 1px solid #0004;
  }

  .LeftSideBar__LeftSection__menuWrapper {
    list-style-type: none;
    margin: 1em;
    padding: 0;

    li {
      margin-bottom: 0em;
      
      a {
        font-size: 11pt;
        font-weight: bold;
        text-transform: uppercase;
        color: gray;
        text-decoration: none;
      }
    }
    button{
      padding: 0pt;
      margin-bottom: 0pt;
      margin-left: 0pt;
    }
  }
}

.LeftSideBar__LeftSection--show {
  transform: translateX(0);
}

.LeftSideBar__LeftSection--hide {
  transform: translateX(-$left-sidebar-width);
}
.drawer{
  width : 200px;
  height: 50px;
  padding : 0;
  margin-right : 10px;
  font-size: medium;

}
.drawer:hover{
  transition-duration: 1s;
  border-color: red;
}
.logout{
  width : 80%;
  height: 35px;
  padding : 0;
  margin : 5px;
  border-radius: 10px;
  border-color:#Dc3545;
  background-color:transparent;
  font-size: 14px;
  color : #Dc3545;
  
}
.logout:hover{
  border-color: #Dc3545;
  background-color:#Dc3545;
  color: white;
  transition-duration: 0.5s;

}
.homeLink{
  color :grey;
}
.homeLink:hover{
  text-decoration: none;
  color :black;
}
.menulist{
  width : 95%;
  height : 55px;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  background-color:transparent;
  border : 2px solid;
  border-color: white;
  
  
}
.menulist,a{
  color:black;
}
.Secondary{
  background-color: blue;
}
.Dropdown.Toggle{
  width : 200%;
  height : 60px;
  font-size: 14px;
  background-color: white;
  border : none;
}

